.container{ 
     
    background-color: rgb(121, 142, 183); 
    text-align: center; 
    padding: 50px; 
    margin: 150px; 
    display: block; 
    align-items: center; 
    border-radius: 10px; 
} 
.button{ 
   background-color: rgb(56, 148, 187); 
   color: rgb(235, 230, 230); 
   height: 35px; 
   width: 100px; 
   border-radius: 8px; 
} 
.button:hover{ 
    background-color: red; 
} 
